<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  <style>
    @font-face { font-family: DMSans; src: url('/blogs/DMSans.ttf'); font-display: block; }
    a {
      transition: all 0.5s ease;
      color: rgb(207, 157, 23); 
      font-weight: 800;
    }
    a:hover {
      color: rgb(252, 127, 3);
    }
  </style>
</head>
<body style="background-color: #E1D6CA;">
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
